<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/product" method="post" enctype="multipart/form-data">
        <input type="file" name="img" id="img"/>
        <input type="text" name="title" id="title"/>
        <input type="number" name="price" id="price"/>
        <input type="description" name="description" id="description"/>
        <input type="text" name="category" id="category"/>
        <input type="submit" value="Submit"/>
    </form>
</body>
</html>