#img{
    height: 300px;
    width: 300px;
    border: 5px red double;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

#course,#grid,#title{
    color: red;
    font-weight: bold;
    text-align: center;
}

#main{
    display: flex;
    justify-content: center;
}